.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.bannerText {
  font-family: 'Tenor Sans', sans-serif;
  font-size: 2rem;
  line-height: 1.4;
  margin: 1rem 1rem;
  text-transform: capitalize;
}

.bannerText.right {
  text-align: right;
}
.bannerText.left {
  text-align: left;
}

.bannerBlock {
  border-color: black;
  border-style: solid;
  border-left: none;
  border-right: none;
}

.banner {
  display: flex;
}
