@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;

:root {
  --deep-green: #65752F;
  --light-green: #E0F2BD;
}

html, body {
  @apply font-body;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: var(--deep-green);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}